.sb-site {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 330px;
  background-color: $primary-color;
}

.container {
  margin: 180px auto 40px;
  background: $white-color;
  // min-height: 100vw;
  max-width: 90%;

  &__wrapper {
    width: 77%;
    padding: 100px 0;
    margin: 0 auto;
  }
}