.social-icons {
  margin-bottom: 16px;
  padding: 0.4rem;

  a {
    color: #aaa;
    font-size: 0.675rem;
    margin: 0 12px 0 12px;

    &:hover {
      @include transition-ease;
      color: $primary-color;
    }
  }
}