@import "config";
@import "loading";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap");
@import "../pages/Home/style";
@import "../pages/Posts/style";
@import "../pages/CreatePost/style";
@import "../components/Layout/style";
@import "../components/Layout/Header/style";
@import "../components/Layout/Footer/style";
@import "../components/Modal/style";
@import "../components/DataTable/style";
@import "../components/Pagination/style";

body {
  background: #f8f8f8;
  color: $secondary-color;
  height: 100vh;
  font-family: "Domine", serif;
  line-height: 30px;
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
  color: $secondary-color;
}

a {
  color: $white-color;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

footer {
  width: 100%;
  min-height: 175px;
  font-size: 0.75rem;
  bottom: 0.4rem;
  text-align: center;
  padding: 1rem;
  color: #aaa;
}
